.container-fluid {
    margin: 0;
    padding: 0;
}

.jumbotron {
    background: url("../imgs/20Teens.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 80%;
    height: 400px;
    margin-bottom: 0;
    color: white;
    text-align: center;
}

.nav-item:hover{
    background-color: #1b9bff;
    transition: 5s;
    margin-right: 4px;
}
   
.nav a{
    color: white;
    font-size: 15px;
    border-radius: 3px;
}
   
hr { 
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
} 

a.button3{
    display:inline-block;
    padding:0.3em 1.2em;
    margin:0 0.3em 0.3em 0;
    border-radius:2em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:#000000;
    background-color:#4eb5f1;
    text-align:center;
    transition: all 0.2s;
}

a.button3:hover{
    background-color:#4095c6;
}

#movement-title{
    font-weight: bold;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 20px;
}

#movement-image{
    padding-bottom: 20px;
}

#movement-description{
    line-height: 2em;
    font-family: 'Fira Sans Condensed', sans-serif;
    text-indent: 2em
}

.footer{
background-color:rgb(33, 37, 41);
text-align: center;
}

.icons{
padding-top: 50px;
}

.textfield{
    resize: none;
    border: 1px solid white;
    margin-top: 10px;
    margin-bottom: 20px; 
}
  
.type-s
 {
   display: inline-block;
   font-size: 30px;
   color: white ;
   font-weight: bold;
 }
 
.h6{
    font-weight: bold;
    font-size: 15px;
    color: black;
}

.comments{
    background-color:rgb(33, 37, 41);
    padding:0 15px;
}

#submit, .textfield{
    margin-left: 20px;
    margin-bottom: 20px;
}

.petitions-form{
    background-image: url("../assets/petitionsimage.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 70%;
}

@media only screen and (min-width: 0px) and (max-width: 479px) {
    .type-s{
        font-size: 25px;
    }
}
  
@media only screen and (min-width: 480px) and (max-width: 767px) {
    .type-s{
        font-size: 25px;
    }
}
  
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .type-s{
        font-size: 25px;
    }
}

