.container-fluid {
    margin: 0;
    padding: 0;
}

.jumbotron {
    background: url("/assets/header.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 600px;
    margin-bottom: 0;
}

.footer{
    background-color:rgb(33, 37, 41);
    text-align: center;
}
.icons{
    padding-top: 50px;
}

.stories{
    background-color: #F5F5F5;
    font-family: 'Fira Sans Condensed', sans-serif;
}

#recentStories{
    flex-direction: column;
    flex-wrap: wrap;


}
.title{
    text-align: center;
    font-weight: bold;
}
.card-title{
    font-weight: bold;
    text-align: center;
}