.container-fluid {
    margin: 0;
    padding: 0;
}

.jumbotron {
    background: url("/assets/header.jpg");
    height: 1000px;
}

.footer{
    background-color:rgb(33, 37, 41);
    height: 200px;
}

.stories{
    background-color: #B4B4B4
}