.container-fluid {
    margin: 0;
    padding: 0;
}

.jumbotron {
    background: url("../imgs/20Teens.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 80%;
    height: 400px;
    margin-bottom: 0;
    color: white;
    text-align: center;
}
.nav-item:hover{
    background-color: #1b9bff;
    transition: 5s;
    margin-right: 4px;
   }
   
   .nav a{
       color: white;
       font-size: 15px;
       border-radius: 3px;
   }
   
   a.button3{
       display:inline-block;
       padding:0.3em 1.2em;
       margin:0 0.3em 0.3em 0;
       border-radius:2em;
       box-sizing: border-box;
       text-decoration:none;
       font-family:'Roboto',sans-serif;
       font-weight:300;
       color:#000000;
       background-color:#4eb5f1;
       text-align:center;
       transition: all 0.2s;
       }
       a.button3:hover{
       background-color:#4095c6;
       }
       @media all and (max-width:30em){
        a.button3{
       display:block;
       margin-left:0.2em auto;
        }
   }
   
   
   a.button3{
        display:inline-block;
        padding:0.3em 1.2em;
        margin:0 0.3em 0.3em 0;
        border-radius:2em;
        box-sizing: border-box;
        text-decoration:none;
        font-family:'Roboto',sans-serif;
        font-weight:300;
        color:#FFFFFF;
        background-color:#4eb5f1;
        text-align:center;
        transition: all 0.2s;
       }
       a.button3:hover{
       background-color:#4095c6;
       }
       @media all and (max-width:30em){
        a.button3{
       display:block;
       margin:0.2em auto;
        }
       }
    #movement-title{
        font-weight:bold;
        text-align: center;
        padding: 30px;
    }

    #movement-image{
        padding-bottom: 20px;
    }

    #movement-description{
        line-height: 2em;
          font-family: 'Fira Sans Condensed', sans-serif;
    }

    .footer{
    background-color:rgb(33, 37, 41);
    text-align: center;
}
.icons{
    padding-top: 50px;
}